{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x100000,
}, {
	name:	"BootEnv",
	offset: 0x100000,
	size:	0x100000,
}, {
	name:	"Factory",
	offset:	0x200000,
	size:	0x100000,
}, {
	name:	"BootFlag",
	offset:	0x300000,
	size:	0x100000,
}, {
	name:	"Kernel 1",
	offset:	0x400000,
	size:	0x600000,
}, {
	name:	"Firmware",
	offset:	0xA00000,
	size:	0x2600000,
}, {
	name:   "File System 2",
	offset: 0x3000000,
	size:	0x2000000,
}, {
	name:	"Config",
	offset:	0x5000000,
	size:	0x100000,
}, {
	name:	"Storage",
	offset:	0x5100000,
	size:	0x400000,
}, {
	name:	"RWFS",
	offset:	0x5500000,
	size:	0x2a80000,
}
