{
	name:	"U-Boot",
	offset:	0x0,
	size:	0x30000,
	read_only: true,
}, {
	name:	"U-Config",
	offset: 0x30000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"Factory",
	offset:	0x40000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"Firmware",
	offset:	0x50000,
	size:	0xE90000,
}, {
	name:	"Config",
	offset: 0xEE0000,
	size:	0x10000,
}, {
	name:	"Storage",
	offset: 0xEF0000,
	size:	0x100000,
}, {
	name:	"Dump",
	offset: 0xFF0000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"U-State",
	offset: 0x1000000,
	size:	0x30000,
	read_only: true,
}, {
	name:	"U-Config_res",
	offset:	0x1030000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"Factory_res",
	offset: 0x1040000,
	size:	0x10000,
	read_only: true,
}, {
	name:	"Firmware_2",
	offset:	0x1050000,
	size:	0xE90000,
	read_only: true,
}, {
	name:	"Config_2",
	offset:	0x1EE0000,
	size:	0x10000,
	read_only: true,
}
