{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x80000,
	read_only: true,
}, {
	name:	"BootEnv",
	offset: 0x80000,
	size:	0x80000,
	read_only: true,
}, {
	name:	"Factory",
	offset:	0x100000,
	size:	0x80000,
}, {
	name:	"Firmware",
	offset:	0x180000,
	size:	0x1400000,
}, {
	name:	"Config",
	offset:	0x1580000,
	size:	0x100000,
}, {
	name:	"Storage",
	offset: 0x1680000,
	size:	0x400000,
}, {
	name:	"RWFS",
	offset:	0x1a80000,
	size:	0x6500000,
}
