default
Inconsolata
Share Tech Mono
Ubuntu Mono
Droid Sans
Droid Serif
Arkhip, truetype, 11px
Archive, opentype, 11px
Consola, truetype, small
Consola Mono, truetype, 12px
OpenGost Type A TT, truetype, large
Game of Thrones KG, truetype, xx-small
DidactGothic, truetype, small