{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x20000,
}, {
	name:	"Firmware",
	offset:	0x20000,
	size:	0xF60000,
}, {
	name:	"Storage",
	offset: 0xF80000,
	size:	0x40000,
}, {
	name:	"Config",
	offset:	0xFC0000,
	size:	0x10000,
}, {
	name:	"Romfile", /* here stores factory mac at address 0xf100 */
	offset: 0xFD0000,
	size:	0x10000,
}, {
	name:	"Rom",
	offset:	0xFE0000,
	size:	0x10000,
}, {
	name:	"Factory",
	offset: 0xFF0000,
	size:	0x10000,
}
